@media(max-width: 720px) {
    section {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    #banniere {
        flex-direction: column;
    }
    #banniere img {
        align-self: center;
    }
    #skill .box:nth-child(1n+2) {
        margin-top: 0;
    }
}